<h1 align="center">Listing articles of all Bloggers</h1>
<div align="center">
    <%= will_paginate %>
</div>
<%= render 'article' , obj: @articles %>
<div align="center">
    <%= will_paginate %>
</div>
