<div class="center jumbotron">
  <h1>Muhammad's Blog!</h1>
  <p id="summary">Welcome to Muhammad's Blog.</p>
  <p><a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign up now</a></p>
</div>