<div class="center jumbotron" style="border-radius:0;">
  <h1>Muhammad's Blog!</h1>
  <p id="summary">Welcome to Muhammad's Blog.</p>
  <p><a role="button"><%= link_to "Sign Up Now", signup_path, :class => "btn btn-primary btn-lg btn-xlarge" ,:style => "background-color:#7C143E" %></a></p>
</div>